---
layout: default
title: Oqueber Navarro
description: Estudiante de Tecnología Electrónica en la Universidad Simón Bolívar, Caracas Venezuela. Ademas de aprender hardware en la universidad, soy un apasionado del desarrollo web. Mi enfoque está en las tecnologías como JavaScript, HTML5 y CSS3, más centrado en la parte Front-End.
---
<script type="text/javascript">
     $("#sobreMi").click(function(){
       event.preventDefault(); // para FF standard
       event.returnValue=false; // Para IE

          $("body,html").animate({
               scrollTop: $(".imagenPresentacion").height() + $("header").height() + 2 +"px"
          },300);

       return false;
     });
</script>
{% include portafolio/header.html %}
{% include portafolio/timeline.html %}
{% include portafolio/blog.html %}
