<header>
     <div class="contenedor">
          <div class="row middle-xs around-sm">
               <div class="col-xs-12 col-sm-6 center-xs start-sm ">
                    <a href="{{ site.baseurl }}/">
                         <h2 class="logo">{{ site.name }}</h2>
                    </a>
               </div>
               <nav class="menu col-xs-12 col-sm-6 center-xs end-sm">
                    <a href="{{ site.baseurl }}/" id="sobreMi"><p>Sobre mi</p></a>
                    <!--
                    <a href="{{ site.baseurl }}/proyectos"><p>Proyectos</p></a>
                     ----->
                    <a href="{{ site.baseurl }}/blog"><p>Blog</p></a>
               </nav>
          </div>
     </div>
</header>
