<header>
     <div class="row header middle-xs between-xs">
          <div class="logo col-xs-12 col-sm-5 center-xs start-sm ">
               <a href="{{ site.baseurl }}/">
                    <h2>{{ site.name }}</h2>
               </a>
          </div>
          <nav class="menu col-xs-12 col-sm-7 center-xs end-sm">
               <a href="{{ site.baseurl }}/"><p>Sobre mi</p></a>
               <!--
               <a href="{{ site.baseurl }}/proyectos"><p>Proyectos</p></a>
                ----->
               <a href="{{ site.baseurl }}/blog"><p>Blog</p></a>
          </nav>
     </div>
</header>
