<section class="postRecientes">
     <div class="contenedor">

          <h2 class="title-nav ">Sigue leyendo</h2>

          <div class="row beetween-xs col-xs">

               {% assign maxRelated = 5 %}
               {% assign minCommonTags =  1 %}
               {% assign maxRelatedCounter = 0 %}

               {% for post in site.posts %}

                   {% assign sameTagCount = 0 %}
                   {% assign commonTags = '' %}

                   {% for category in post.categories %}
                     {% if post.url != page.url %}
                       {% if page.categories contains category %}
                         {% assign sameTagCount = sameTagCount | plus: 1 %}
                         {% capture tagmarkup %} <span class="label label-default">{{ category }}</span> {% endcapture %}
                         {% assign commonTags = commonTags | append: tagmarkup %}
                       {% endif %}
                     {% endif %}
                   {% endfor %}
                   {% if sameTagCount >= minCommonTags %}
                   <div class="masRecientes col-xs-12 col-sm-4 col-md-12">
                            <a href="{{ site.baseurl }}{{ post.url }}" target="_blank">
                            <div class="img-blog">
                                 <img style="max-width:100%;" src="{{ site.baseurl }}/img/{{ post.img }}" alt="" />
                            </div>
                            <div class="text-blog">
                                 <p>{{ post.title }}</p>
                            </div>
                            </a>
                   </div>
                    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                    {% if maxRelatedCounter >= maxRelated %}
                       {% break %}
                    {% endif %}
                   {% endif %}
                 {% endfor %}


          </div>
     </div>
</section>
