*{
     padding: 0;
     margin: 0;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     font-family: 'Lato', sans-serif;
     font-weight: 400;
     text-decoration: none;
}
.contenedor{
     max-width: 1040px;
     margin: 0 auto;
}
.contenedor .row {
    margin: 0;
}
.title-home {
    font-size: 4em;
    font-weight: 300;
    border-bottom: 3px solid #545454;
    max-width: 320px;
    margin: 22px auto;
    color:#545454;
}
/*-----------    estilos del header   --------------*/
header{
     background: #393f4c;
}
header  .contenedor .logo{
     color:white;
     padding: 10px 0;
}
header .contenedor .menu a{
     padding: 20px 10px;
     display: inline-block;
     color: white;
}
header .contenedor .menu a:hover{
     padding-bottom: 16px;
     border-bottom: 4px solid orange;
}
/*-----------    estilos del header portafolio   --------------*/
.header-portafolio{
     background: #fafafa;
     text-align: center;
}
.header-portafolio .imagenPresentacion{
     background-image:  url("../img/aboutme.jpg");
     width: 100%;
     height: 92vh;
     -webkit-background-attachment: fixed;
     -moz-background-attachment: fixed;
     background-attachment: fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}
.header-portafolio .contenedor .contenidoPresentacion p{
     text-align: justify;
     padding: 20px 10px;
     font-size: 1.4em;
     line-height: 1.313em;
     color: #7d7d7d;
     font-weight: 300;
}
/*-----------    estilos del Hobbits   --------------*/

.header-portafolio  .contenidoPresentacion .killers{
     padding-bottom: 50px;
}

.header-portafolio  .contenidoPresentacion .killers span{
     width: 100%;
     display: inline-block;
     position: relative;
     padding-bottom: 60px;
     padding-top: 40px;
}
.header-portafolio  .contenidoPresentacion .killers span::before {
    padding: 20%;
    background: #212121;
    font-size: 2em;
    color: white;

}
.header-portafolio  .contenidoPresentacion .killers span i {
     position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    font-weight: 400;

}
@media only screen and (min-width: 760px) {

     .header-portafolio  .contenidoPresentacion .killers span{
          padding-bottom: 100px ;
          padding-top:85px;
     }
     .header-portafolio  .contenidoPresentacion .killers span i {
          font-size: 1.4em;
     }

}
/*----------------------------------------------------------------
----            boton de ir arribat
-----------------------------------------------------------------*/


.ir-arriba{
     display: none;
     width: 50px;
     height: 50px;
     position: fixed;
     background: yellow;
     bottom:20px;
     right: 20px;
     cursor: pointer;
     z-index: 99;
     border-radius: 50px;
}
.ir-arriba span{
     font-size: 2em;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    transform: rotate(-44deg);
    margin-top: 11px;
    margin-left: 9px;
}
@media only screen and (min-width: 760px) {
     .ir-arriba{
          width: 70px;
          height: 70px;
          bottom:30px;
          right: 30px;
     }
     .ir-arriba span{
          margin-top: 18px;
          margin-left: 16px;
          font-size: 2.5em;
     }
}

/*----------------------------------------------------------------
----            Botom de bajar en el heaer el index
-----------------------------------------------------------------*/

.container-down{
     width: 100%;
     height: 100%;
     position: relative;
     text-align: center;
}
.container-down .down{
     height: 70px;
     width: 40px;
     position: absolute;
     bottom: 0px;
     font-size: 4em;
     color: white;
}

.container-down .down{
  -webkit-animation-name: headerDown;
	-webkit-animation-duration: 1s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:1s;
 	animation-name: headerDown;
 	animation-duration: 1s;
 	animation-iteration-count:infinite;
 	animation-direction:alternate;
 	animation-timing-function:linear;
 	animation-delay:1s;
}


@-webkit-keyframes headerDown{
     from {
      bottom:20px;
     }

     to {
     bottom:0;
    }
}

@keyframes headerDown{
  from {
   bottom:20px;
  }

  to {
  bottom:0;
 }
}

/*----------------------------------------------------------------
----            Footer
-----------------------------------------------------------------*/

footer{
     background: #212121;
     width: 100%;
     padding: 35px 0;
     margin: 0;

}
footer .redes-sociales .footer-redes-sociales{
     color:white;
     font-size: 1.5em;
     padding: 25px 10px;

}
footer .redes-sociales a{
     text-decoration: none;
     padding: 25px 9px;
}
footer .redes-sociales p{
     color: #757575;
     font-size: 1em;
     padding: 0 20px 0 10px;
}
