<div class="header-portafolio row">
     <section class="imagenPresentacion" >

          <div class="container-down">
               <div class="down fa fa-angle-double-down "></div>
          </div>
     </section>
     <section class="contenedorPresentacion">
          <div class="row center-xs">
               <div class="contenidoPresentacion col-xs-12 col-sm-8 ">
                    <h1 class="title-home">Sobre mi</h1>
                    <p>{{ site.aboutMe }}</p>

                         <h1 class="title-home col-xs-12">Hobbits</h1>
                    <div class="killers row beetween-xs around-sm">
                         <span class="fa fa-code col-xs-4"><i>Web developer</i></span>
                         <span class="fa fa-power-off col-xs-4"><i>learning hardware</i></span>
                         <span class="fa fa-flask col-xs-4"><i>Compartir mis inventos</i></span>
                    </div>
               </div>
          </div>
     </section>
</div>
