<div class="header-portafolio">
     <section class="imagenPresentacion" >

          <div class="container-down">
               <div class="down fa fa-angle-double-down "></div>
          </div>

     </section>
     <section class="contenedor">
          <div class="row center-xs">
               <div class="contenidoPresentacion col-xs-12 col-sm-10 ">
                    <h1 class="title-home">Sobre mi</h1>
                    <p>Estudiante de <span style="font-weight: bold;color: black;">Tecnología Electrónica</span> en la Universidad
                         Simón Bolívar, Caracas Venezuela. Donde aprendo sobre diseño, montajes, operación, mantenimiento de equipos electrónicos e instrumentales en general, 
                    todo esto me permite formarme como profesional en esta área. Además de aprender <span style="font-weight: bold;color: black;">hardware</span> en la universidad, soy un 
                    apasionado del <span style="font-weight: bold;color: black;">desarrollo web.</span>. Mi enfoque está en las tecnologías como <span style="font-weight: bold;color: black;"> JavaScript, C++,Java, HTML5 y CSS3.</span> Tecnologías
                    que están más centrado en la parte del <span style="font-weight: bold;color: black;">Front-End.</span></p>

                    <img src="{{ site.baseurl }}/img/robotic.jpg" alt="Robotic" style="max-width:100%;">
                    <p>Me gusta aprender sobre lo ultimo en las <span style="font-weight: bold;color: black;">tecnologías web</span> y comparto estos conocimientos con la <span style="font-weight: bold;color: black;">comunidad.</span></p>

                         <h1 class="title-home col-xs-12">Hobbits</h1>
                    <div class="killers row beetween-xs around-sm">
                         <span class="fa fa-code col-xs-4"><i>Web developer</i></span>
                         <span class="fa fa-power-off col-xs-4"><i>learning hardware</i></span>
                         <span class="fa fa-flask col-xs-4"><i>Compartir mis inventos</i></span>
                    </div>
               </div>
          </div>
     </section>
</div>
