<div class="header-portafolio row">
     <section class="imagenPresentacion" >

          <div class="container-down">
               <div class="down fa fa-angle-double-down "></div>
          </div>
     </section>
     <section class="contenedorPresentacion">
          <div class="row center-xs">
               <div class="contenidoPresentacion col-xs-12 col-sm-8 ">
                    <h1 class="title-home">Sobre mi</h1>
                    <p>Estudiante de <span style="font-size:bold">Tecnología Electrónica</span> en la Universidad
                         Simón Bolívar, Caracas Venezuela. Donde aprendo como
                         diseñar, manipular y controlar los diversos elementos
                         electrónicos, que permiten forjarme como profesional en
                         esta área. Ademas de aprender <span style="font-size:bold">hardware</span> en la
                         universidad, soy un apasionado del <span style="font-size:bold">desarrollo web.</span>
                         Mi enfoque está en las tecnologías como <span style="font-size:bold">JavaScript, HTML5 y CSS3,</span> más centrado en la parte <span style="font-size:bold">Front-End.</span>
                    </p>
                    <p>Me gusta aprender sobre lo ultimo en las <span style="font-size:bold">tecnologías web</span> y comparto estos conocimientos con la <span style="font-size:bold">comunidad.</span></p>

                         <h1 class="title-home col-xs-12">Hobbits</h1>
                    <div class="killers row beetween-xs around-sm">
                         <span class="fa fa-code col-xs-4"><i>Web developer</i></span>
                         <span class="fa fa-power-off col-xs-4"><i>learning hardware</i></span>
                         <span class="fa fa-flask col-xs-4"><i>Compartir mis inventos</i></span>
                    </div>
               </div>
          </div>
     </section>
</div>
