<section class="timeline-portafolio">
     <h1 class="title-home">Timeline</h1>
     <section class="row timeline-posts" id="timeline-posts">
               <div class="timeline-post col-xs-12 ">
                    <div class="row between-xs top-xs">
                         <div class="timeline-date col-xs-3 col-sm-2">
                           <p><span>{{site.carta-1-date}}</span></p>
                         </div> <!-- cd-timeline-img -->

                         <div class="timeline-content col-xs-9 col-sm-5">
                              <h2 class="title-{{site.carta-1-color}}">{{site.carta-1-title}}</h2>
                              <p>{{site.carta-1-description}}</p>

                         </div>
                    </div>
               </div>
<!------------------ Agregando mas post (Carta -2-)    ------------->
               <div class="timeline-post col-xs-12 ">
                    <div class="row between-xs top-xs">
                         <div class="timeline-date col-xs-3 col-sm-2">
                           <p><span>{{site.carta-2-date}}</span></p>
                         </div> <!-- cd-timeline-img -->

                         <div class="timeline-content col-xs-9 col-sm-5">
                              <h2 class="title-{{site.carta-2-color}}">{{site.carta-2-title}}</h2>
                              <p>{{site.carta-2-description}}</p>

                         </div>
                    </div>
               </div>
<!------------------ Agregando mas post (Carta -3-)    ------------->
               <div class="timeline-post col-xs-12 ">
                    <div class="row between-xs top-xs">
                         <div class="timeline-date col-xs-3 col-sm-2">
                           <p><span>{{site.carta-3-date}}</span></p>
                         </div> <!-- cd-timeline-img -->

                         <div class="timeline-content col-xs-9 col-sm-5">
                              <h2 class="title-{{site.carta-3-color}}">{{site.carta-3-title}}</h2>
                              <p>{{site.carta-3-description}}</p>

                         </div>
                    </div>
               </div>
<!------------------ Agregando mas post (Carta -4-)    ------------->
               <div class="timeline-post col-xs-12 ">
                    <div class="row between-xs top-xs">
                         <div class="timeline-date col-xs-3 col-sm-2">
                           <p><span>{{site.carta-4-date}}</span></p>
                         </div> <!-- cd-timeline-img -->

                         <div class="timeline-content col-xs-9 col-sm-5">
                              <h2 class="title-{{site.carta-4-color}}">{{site.carta-4-title}}</h2>
                              <p>{{site.carta-4-description}}</p>

                         </div>
                    </div>
               </div>
<!------------------ Agregando mas post (Carta -5-)    ------------->
               <div class="timeline-post col-xs-12 ">
                    <div class="row between-xs top-xs">
                         <div class="timeline-date col-xs-3 col-sm-2">
                           <p><span>{{site.carta-5-date}}</span></p>
                         </div> <!-- cd-timeline-img -->

                         <div class="timeline-content col-xs-9 col-sm-5">
                              <h2 class="title-{{site.carta-5-color}}">{{site.carta-5-title}}</h2>
                              <p>{{site.carta-5-description}}</p>

                         </div>
                    </div>
               </div>
<!------------------ Agregando mas post (Carta -6-)    ------------->
               <div class="timeline-post col-xs-12 ">
                    <div class="row between-xs top-xs">
                         <div class="timeline-date col-xs-3 col-sm-2">
                           <p><span>{{site.carta-6-date}}</span></p>
                         </div> <!-- cd-timeline-img -->

                         <div class="timeline-content col-xs-9 col-sm-5">
                              <h2 class="title-{{site.carta-6-color}}">{{site.carta-6-title}}</h2>
                              <p>{{site.carta-6-description}}</p>

                         </div>
                    </div>
               </div>

     </section>
</section>
<script type="text/javascript" src="{{ site.baseurl }}/js/script-timeline.js"></script>
