<section class="timeline-portafolio">
     <h1 class="title-home">Timeline</h1>
     <section class="row timeline-posts" id="timeline-posts">
               <div class="timeline-post col-xs-12 ">
                    <div class="row between-xs top-xs">
                         <div class="timeline-date is-hidden col-xs-3 col-sm-2">
                           <p><span>1996</span></p>
                         </div> <!-- cd-timeline-img -->

                         <div class="timeline-content is-hidden col-xs-9 col-sm-5">
                              <h2 class="title-{{site.carta-1-color}}">¡Eh nacido!</h2>

                         </div>
                    </div>
               </div>
<!------------------ Agregando mas post (Carta -2-)    ------------->
               <div class="timeline-post col-xs-12 ">
                    <div class="row between-xs top-xs">
                         <div class="timeline-date is-hidden col-xs-3 col-sm-2">
                           <p><span>1993</span></p>
                         </div> <!-- cd-timeline-img -->

                         <div class="timeline-content is-hidden col-xs-9 col-sm-5">
                              <h2 class="title-{{site.carta-2-color}}">Culminación del Bachillerato</h2>
                              <p>Termine la educación media diversificado Venezolana.</p>

                         </div>
                    </div>
               </div>
<!------------------ Agregando mas post (Carta -3-)    ------------->
               <div class="timeline-post col-xs-12 ">
                    <div class="row between-xs top-xs">
                         <div class="timeline-date is-hidden col-xs-3 col-sm-2">
                           <p><span>2014</span></p>
                         </div>

                         <div class="timeline-content is-hidden col-xs-9 col-sm-5">
                              <h2 class="title-{{site.carta-3-color}}">Ingreso a la U.S.B</h2>
                              <p>Empece mis estudios en la Universidad Simon Bolivar.</p>

                         </div>
                    </div>
               </div>
<!------------------ Agregando mas post (Carta -4-)    ------------->
               <div class="timeline-post col-xs-12 ">
                    <div class="row between-xs top-xs">
                         <div class="timeline-date is-hidden col-xs-3 col-sm-2">
                           <p><span>2014</span></p>
                         </div> <!-- cd-timeline-img -->

                         <div class="timeline-content is-hidden col-xs-9 col-sm-5">
                              <h2 class="title-{{site.carta-4-color}}">Curso de Programacion Basica</h2>
                              <p>Curso de Programación Básica 2014 en platzi</p>

                         </div>
                    </div>
               </div>
<!------------------ Agregando mas post (Carta -5-)    ------------->
               <div class="timeline-post col-xs-12 ">
                    <div class="row between-xs top-xs">
                         <div class="timeline-date is-hidden col-xs-3 col-sm-2">
                           <p><span>2015</span></p>
                         </div> <!-- cd-timeline-img -->

                         <div class="timeline-content is-hidden col-xs-9 col-sm-5">
                              <h2 class="title-{{site.carta-5-color}}">Curso de Introducción al Desarrollo Web</h2>
                              <p>Curso de Introducción al Desarrollo Web de la Universidad de Alicante.</p>

                         </div>
                    </div>
               </div>
<!------------------ Agregando mas post (Carta -6-)    ------------->


     </section>
</section>
<script type="text/javascript" src="{{ site.baseurl }}/js/script-timeline.js"></script>
