<section class="trabajos-portafolio">
          <h1 class="title-home">Trabajos</h1>

     <div class="row beetween-xs col-xs">
          <div class="work col-xs-12 col-sm-4">
               <a href="{{site.work-1-link}}" target="_blank">
                    <div class="img-work">
                         <img src="{{ site.baseurl }}/img/{{site.work-1-nombreImagen}}" alt="{{site.work-1-descriptionImagen}}" />
                    </div>
                    <div class="text-work">
                         <p>{{site.work-1-Titulo}}</p>
                    </div>
               </a>
          </div>

          <div class="work col-xs-12 col-sm-4">
               <a href="{{site.work-2-link}}" target="_blank">
                    <div class="img-work">
                         <img src="{{ site.baseurl }}/img/{{site.work-2-nombreImagen}}" alt="{{site.work-2-descriptionImagen}}" />
                    </div>
                    <div class="text-work">
                         <p>{{site.work-2-Titulo}}</p>
                    </div>
               </a>
          </div>

          <div class="work col-xs-12 col-sm-4">
               <a href="{{site.work-3-link}}" target="_blank">
                    <div class="img-work">
                         <img src="{{ site.baseurl }}/img/{{site.work-3-nombreImagen}}" alt="{{site.work-3-descriptionImagen}}" />
                    </div>
                    <div class="text-work">
                         <p>{{site.work-3-Titulo}}</p>
                    </div>
               </a>
          </div>
     </div>
</section>
