<!DOCTYPE html>
<html>
  <head>
    <title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
     <!-- Links agregados por mi -->
     <link rel="icon" href="{{ site.baseurl }}/img/icon.ico">

     <link href="https://fonts.googleapis.com/css?family=Bitter|Lato|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.min.js"></script>
</head>

<body>
<div class="ir-arriba"><span class="fa fa-rocket "></span></div>
{% include htmlBase/header.html %}

      {{ content }}

     <script type="text/javascript" src="{{ site.baseurl }}/js/script-main.js"></script>
     <script id="dsq-count-scr" src="//oquebernavarro-github-com.disqus.com/count.js" async></script>
    {% include htmlBase/footer.html %}
    {% include analytics.html %}
  </body>
</html>
