---
layout: default
---
<div class="contenedor-inBlog">

     <div class="contenedor">

     <div style="padding-top:20px;" class="blog row">
          <div class="contenedor-posts col-xs-12 col-md-9">

               <article class="post col-xs-12">
                         <img style="max-width:100%;margin-top: 8px;" src="{{ site.baseurl }}/img/{{ page.img }}" alt="{{ page.img-description }}" />
                         <div class="date start-xs">
                          Escrito el {{ page.fecha | date: "%B %e, %Y" }}
                         </div>
                         <div class="content-post">
                              <h1 class="title-blog">{{ page.title }}</h1>

                              <div style="text-align:left" class="contenido-post">
                              {{ content }}
                              </div>
                              {% include  compartir.html %}



                              <div style="margin-top:50px;"class="comments">
                                {% include disqus.html %}
                              </div>
                         </div>
               </article>


          </div>
          <div style="padding:0;width:100%;
          min-height:400px; " class="contenedor-nav col-md-3">

          <div class="postRelacionados">
               {% include postRelacionados.html %}

          </div>

            <div style="box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.5);background:#fff;margin-bottom:50px;background:#fafafa;text-align:center" class="createdBy">
                 <h2 class="title-nav" >Acerca del autor</h2>
                 <div style="padding: 1em;text-align: justify;" class="acercaDeMi">
                      <img  style="margin-top:10px;width:200px;height:200px;background:#fc288e;border-radius:100px" src="{{ base.url }}/img/sobreAutor.jpg" alt="">
                      <a href="{{ base.url }}/"><h2 style="color: #6d0120;padding: 5px 0;border-bottom: 1px dashed;margin-bottom: 10px;">Oqueber Navarro</h2></a>
                      <p style="max-width:320px; margin:0 auto;font-size: 17px;line-height: 1.5em;">Estudiante de Tecnología Electrónica en la Universidad Simón Bolívar. La pasión por la robótica, donde puedo combinar el hardware y la programación. Ambos conocimientos me permitieron crear este blog donde comparto mis conocimientos sobre robótica con la comunidad.</p>
                 </div>
            </div>


          </div>


     </div>
</div>
</div>
